:root{
  --dark-text-color: #000313;
  --light-text-color: rgba(0, 3, 19, 0.5);
  --custom-primary: #527BDD;
  --custom-primary-transparent: #527BDDAA;
}
body, html {
    height: 100%;
    font-family: 'Inter', sans-serif !important;
    scroll-behavior: smooth;
/*    background-color: #f88;*/
}
.inverse-class {
  -webkit-filter: invert(100%) !important;
  -moz-filter: invert(100%) !important;
  -o-filter: invert(100%) !important;
  -ms-filter: invert(100%) !important; 
}
body{
/*    background-color: #8f8;*/
}

#inverseColors {
  top: 30%;
  right: 0%;
  z-index: +2;
  text-decoration: none;
  border-radius: 100%;
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#inverseColors i{
  font-size: 18px;
}

.container-fluid{
  max-width: 1600px;
}

/*animations*/

  @keyframes ellipse_1{
    from{top: 100%;left: 60%;},
    to{left: 56.4%;top: 42%;}
  }

  @keyframes ellipse_9{
    from{top: 0%;left: 60%;},
    to{top: 43%;left: 52%;}
  }

/*animations Ends*/

/*Bootstrap override classes*/

  .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    box-shadow: -3px -4px 10px #FFFFFF, 3px 4px 6px rgba(0, 0, 0, 0.16), inset 4px 4px 6px rgba(255, 255, 255, 0.25);
    border-radius: 92px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    transition: all 0.5s;
  }

  .btn:hover{
    box-shadow: -3px -4px 9px #FFFFFF, inset -1px -1px 2px #FFFFFF, inset 2px 2px 4px rgba(0, 0, 0, 0.15), inset 27px 6px 12px rgba(255, 255, 255, 0.75);
  }

  .btn-primary{
    background-color: var(--custom-primary) !important;
    color: #FFFFFF !important;
  }
  .btn.btn-primary:hover{
    box-shadow: -3px -4px 8px #FFFFFF, inset -1px -1px 1px #789CF3, inset 3px 3px 4px #4662A6, inset 14px 11px 15px rgba(105, 145, 240, 0.5);
  }


  .nav-link{
    min-width: 48px;
    margin-right: 20px;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    color: var(--dark-text-color) !important;
  }

  .bg-primary-transparent-transition .nav-link{
    color: white !important;
  }

  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--custom-primary) !important;
  }
  .bg-primary-transparent-transition .navbar-nav .nav-link.active, .bg-primary-transparent-transition .navbar-nav .nav-link.show {
    color: var(--dark-text-color) !important;
  }

/*Bootstrap override classes Ends*/

/*Common Classes*/
  .py-100t-50b{
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .pl-50px{
    padding-left: 50px !important;
  }

  .bg-transparent-transition{
    background-color: transparent !important;
    padding: 10px !important;
    transition: all 0.5s;
  }
  .bg-white-transition{
    background-color: white;
    padding: 2px !important;
    transition: all 0.5s;
  }
  .rts-section-gap {
    padding: 120px 0;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .rts-section-gap {
      padding: 80px 0;
    }
  }
  @media only screen and (max-width: 767px) {
    .rts-section-gap {
      padding: 60px 0;
    }
  }

  .w-lg-55, .w-md-55{
    width: 55%;
  }
  .w-lg-45, .w-md-45{
    width: 45%;
  }
  
/*Common Classes Ends*/


/* The hero image */
.hero-image {
  background-image: url("../images/new_header_bg.png");
  /* Set a specific height */
  min-height: 100%;
  height: auto;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-heading{
  width: 459px;
  height: 189px;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
}

.banner-para{
  width: 459px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
  margin: 28px 0;
}

.ellipse_1 {
  left: 56.4%;
  top: 42%;
  animation-name: ellipse_1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.ellipse_4 {
  left: 46%;
  top: 40%;
}
.ellipse_9 {
  left: 52%;
  top: 43%;
  z-index: +1;
  opacity: 0.6;
  /* backdrop-filter: blur(4px); */
  animation-name: ellipse_9;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.ellipse_34 {
  left: 0%;
  top: 0%;
  opacity: 0.6;
  /* backdrop-filter: blur(4px); */
}


/*slider services*/

  #service, #portfolio {
    background-image: url("../images/service_bg.png");
    /* Set a specific height */
    min-height: 100%;
    height: auto;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .ellipse_13 {
    right: 3%;
    top: -25%;
    opacity: 0.4;
    backdrop-filter: blur(4px); 
    height: 65%;
    /* width: 50%; */
  }

  .slider2 {
/*    width: 600px;*/
    height: 415px;
/*    margin: 90px auto 20px;*/
    margin: 120px auto 20px;
  }

  .slider1{
    min-height: 300px;
    max-height: fit-content;
  }

  .slider1 .swiper-wrapper .swiper-slide {
    position: relative;
/*    background-color: #232323;*/
    text-align: center;
  }

/*  .slider2 .swiper-wrapper .swiper-slide{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 24px; 
  }*/
 
  .slider1 .swiper-wrapper .swiper-slide h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3vw;
  }
 
  .slider1 .swiper-slide{
/*    margin: auto 5px;*/
    transition: transform 0.5s;
  }

  .service-slider-content-container{
    min-height: 340px;
    max-height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 24px; 
    margin-top: 10%;
    margin-bottom: 10%;
    transition: transform 0.5s;
  }

  .slider1 .swiper-slide .service-slider-content-container:hover{
    transform: translateY(-5%);
  }

  .swiper-button-prev, .swiper-button-next {
/*    color: transparent;*/
    text-align: center;
  }

  .swiper-button-prev::after, .swiper-button-next::after{
    color: transparent;
    background-color: transparent !important;
  }

  .swiper-button-next .fa-solid{
/*    transform: translateX(70%);*/
  }
  .swiper-button-prev .fa-solid{
/*    transform: translateX(50%);*/
  }

  .service-slider-content-container{
    
  }

  .service-img {
    object-fit: cover;
    height: 185px;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
  }

  .service-title{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000313;
    margin: 10px 0;
  }

  .service-description{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: rgba(0, 3, 19, 0.5);
  }

/*slider services Ends*/

/*About*/

  #about{
    background: linear-gradient(to top right, #F8F8F8, #E8EBFA99);
    min-height: 100%;
    height: auto;
  }
  #about-in-house, #about-custom-build, #about-user-experience {
    background: linear-gradient(to right, #F8F8F8 62%, var(--custom-primary) 63%);
    /* background-image: url("../images/custom-build-solutions_bg_1.png"); */
    min-height: 100%;
    height: auto;
  }
  #about-growth-marketing, #about-better-decision{
    background: linear-gradient(to top right, #F8F8F8, #F9F9F9);
    min-height: 100%;
    height: auto;
  }

  .about-img-row{
    min-height: 265px;
  }

  .about-card-imgs{
    min-height: 136px;
    height: auto;
    width: 121px;
  }

  .about-card-text{
    height: 73px;
    width: 152px;
    background: linear-gradient(303.17deg, rgba(217, 217, 217, 0.5) 5.96%, rgba(243, 243, 243, 0.5) 81.03%);
    box-shadow: 0px 1.61444px 4.84331px rgba(0, 0, 0, 0.15);
    -webkit-backdrop-filter: blur(3.22887px);
            backdrop-filter: blur(3.22887px);
    border-radius: 8.07219px;
    bottom: 0;
    font-size: var(--font-size-b0);
  }

  .rts-btn{
    text-transform: uppercase;
  }

  .about-card-text span{
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .about-us-abs-img {
    position: absolute;
    bottom: -40%;
    left: -3%;
    border-radius: 100%;
    z-index: +1;

  }

  h3.title{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: var(--dark-text-color);
  }

  h3.title-inverse{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
  }

  .disc{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: var(--light-text-color);
    margin: 40px auto;
  }

/*About Ends*/

/*About - Custom build*/
  .title-area + span{
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #527BDD;
  }

  .custom-solutions-desc-span{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000313;
  }
/*About - Custom build Ends*/

/*About Better Decision*/
  
  .ellipse_2 {
    left: 27%;
    bottom: 0%;
    height: 50%;
  }
  .ellipse_15 {
    left: 2%;
    top: 10%;
    height: 50%;
  }

/*About Better Decision Ends*/

/*About growth marketing*/
  .ellipse_3 {
    left: 0%;
    bottom: -30%;
  }

  .ellipse_29 {
    bottom: -10%;
    right: 0;
    z-index: +1;
  }
/*About growth marketing Ends*/

/*About - In house*/
  
  #about-in-house{
    min-height: 100vh !important;
  }
  
  .ellipse_11 {
    top: 15%;
    left: 7%;
    height: 8%;
  }
  .ellipse_31 {
    bottom: 18%;
    left: 10%;
    height: 10%;
  }
  .ellipse_32 {
    bottom: 5%;
    left: 5%;
    height: 20%;
  }

  .ellipse_35 {
    top: 0%;
    left: 45%;
    height: 50%;
  }

/*About - In house Ends*/

/*Portfolio*/
    
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 24%;
  left: 0;
  width: 100%;
}

.slider2 .swiper-slide-active{
/*  margin: auto 10px;*/
  transform: translateY(-15%) scale(1.1);
  box-shadow: 0px 0px 10px 1px;
  position: relative;
  z-index: +1;
}

.slider2 .swiper-slide:not(.swiper-slide-active){
  z-index: -1;
  position: relative;
  transform: scale(0.9);
}

.portfolio-img{
  width: 100%;
  max-height: 348px;
  object-fit: cover;
}

.portfolio-img-1{
  background-image: url("../images/portfolio-card-img-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio-img-2{
  background-image: url("../images/portfolio-card-img-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio-img-3{
  background-image: url("../images/portfolio-card-img-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Portfolio Ends*/

/*Communication Services*/
  
  .bg_service-h4 {
    background: #FFFFFF;
    color: #222326;
    position: relative;
    z-index: 1;
  }
  .bg_service-h4 .separator {
    position: absolute;
    height: 1px;
    background: #222326;
    width: 100%;
    display: block;
    z-index: -1;
  }

  .service-tab-h4 {
    padding-right: 100px;
  }
  @media only screen and (max-width: 767px) {
    .service-tab-h4 {
      padding-right: 0;
    }
  }
  .service-tab-h4 .nav {
    border: none;
    padding-top: 40px;
  }
  @media only screen and (max-width: 575px) {
    .service-tab-h4 .nav {
      padding-top: 0;
    }
  }
  .service-tab-h4 .nav button {
    background-color: transparent;
    border: none;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000313;
    font-size: 16px;
    text-align: left;
    transition: 0.3s;
    display: block;
    width: 100%;
  }
  @media only screen and (max-width: 575px) {
    .service-tab-h4 .nav button {
      margin-bottom: 15px;
    }
  }

  .btn-span{
    display: block !important;
    width: 100%;
  }

  .service-tab-h4 .nav button span:not(.btn-span) {
    display: none;
    transition: 0.3s;
    text-transform: capitalize;
    margin-top: 15px;
    visibility: hidden;
    margin-left: -17px;
  }

  .service-tab-h4 .nav button[aria-selected=true] {
    position: relative;
    margin-left: 15px;
    transition: 0.3s;
    color: #000313;
  }
  .service-tab-h4 .nav button[aria-selected=true] span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 3, 19, 0.5);
    visibility: visible;
    margin-left: -17px;
  }
  .service-tab-h4 .nav button[aria-selected=true] span.btn-span {
    color: rgba(0,3,19,1);
  }
  /*
  .service-tab-h4 .nav button[aria-selected="true"]::after {
    content: "";
    position: absolute;
    right: 76%;
    top: 17px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: var(--custom-primary);
  }*/

  .service-tab-h4 .nav button:last-child {
    margin-bottom: 0;
  }
  .service-tab-h4 .nav button:hover {
    border: none;
  }
  .service-tab-h4 .nav button:focus {
    border: none;
  }
  .service-tab-h4 .nav button.active {
    background-color: transparent !important;
    border: none;
  }

  .service-tab-h4-right .thumbnail {
    padding-top: 45px;
    transition: 0.3s;
  }
  .service-tab-h4-right .thumbnail:hover {
    transform: scale(0.95);
  }

  .communications-services-img{
    width: 100%;
  }

/*Communication Services Ends*/

/* Contact Section */

  .contact_ellipse_4 {
    position: absolute;
    top: 5%;
    left: 44%;
    z-index: +1;
  }
  .ellipse_26 {
    position: absolute;
    bottom: -15%;
    left: 0%;
    z-index: +1;
  }
  .ellipse_28 {
    position: absolute;
    top: 165px;
    right: 0%;
    z-index: +1;
  }  
  #contact{
    min-height: 100%;
    height: auto;
  }
  .contact-top-section{
    height: 300px;
  }
  .contact-bottom-section{
    height: 300px;
    background-color: #AFC2F2;
  }

  .contact-form-div{
    position: absolute;
    top: 20%;
    left: 17.5%;
    width: 65%;
    min-height: 400px;
    height: auto;
    display: flex;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 6px 0px 0px 6px;
  }

  .contact-form{
/*    background-color: #F8F8F8;*/
    width: 100%;
  }

  .contact-form input {
    margin-bottom: 25px;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    transition: all 0.3s;
  }
  .contact-form textarea{
    background: #FFFFFF;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    height: 86%;
  }

  .contact-form input::placeholder,.contact-form textarea::placeholder{
    color: rgba(0, 3, 19, 0.5);
    font-size: 16px;
  }

  .contact-form input:focus {
    color: var(--dark-text-color);
    background-color: var(--bs-body-bg);
    border: none !important; 
    outline: none !important;
    box-shadow: 0 0 2px 2px #0002;
  }

  .contact-form input::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 0px;
    bottom: 0;
    left: 0;
    background-color: var(--custom-primary);
  }

  .form-control:focus::after{
     width: 100%;
  }

  address ~ a{
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  address ~ a:hover, address ~ a:focus,
  address ~ a:active{
    color: var(--dark-text-color);
  }
/* Contact Section Ends */

/*Footer section*/

  #footer{
    background-color: #AFC2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
  }

  .copy-text{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.01em;
  }

  #footer .fa-brands{
    font-size: 18px !important;
  }

/*Footer section Ends*/