
@media screen and (width < 992px){
	

	nav{
		background: #fff !important;
	}

	.pl-50px{
		padding-left: 0;
	}

	.about-us-abs-img, img[class*="ellipse_"]{
		z-index: -1;
		display: none !important;
	}

	.w-lg-55,.w-lg-45{
	  display: flex;
	  width: 100%;
	}

/*	.contact-form-div{
		width: 75%;
		left: 25%;
	}*/
}


@media screen and (width < 768px){
	div{
		width: 100%;
		text-align: center;
	}

	.banner-heading, .banner-para{
		width: 100%;
		height: fit-content;
		text-align: center;
	}
	.banner-heading{
		font-size: max(12px,6vmax);
		line-height: unset;
	}	

	.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 30%;
		left: 0;
		width: 100%;
	}


	.w-md-55,.w-md-45{
	  display: flex;
	  width: 100%;
	}

	#contact{
		background-color: var(--custom-primary);
		min-height: 100vh;
		height: auto;
	}
	.contact-form-div {
		position: static;
		width: 80%;
		height: auto;
		margin: 0 auto;
	}
	.contact-top-section{
		display: none;
	}
	.contact-bottom-section{
		display: none;
	}
}

@media screen and (width < 576px){
	

	.navbar-brand img{
		height: auto;
		width: 220px;
	}
}
@media screen and (width < 400px){
	.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 39%;
		left: 0;
		width: 100%;
	}
}

