@media only screen and (min-width: 1100px) {

  #slider-container #slider .slide {
    width: calc(2.5% - 16px);
  }

}

@media only screen and (max-width: 1100px) {

  #slider-container #slider .slide {
    width: 10%;
  }

}




@media screen and (width < 992px){
	.pl-50px{
		padding-left: 0;
	}

	img[class*="ellipse_"]{
		z-index: -1;
	}

	.swiper-slide.swiper-slide-active {
	 width: 100% !important;
	}


	.w-lg-50{
	  display: flex;
	  width: 100%;
	}
}

@media only screen and (max-width: 900px) {

  #slider-container #slider .slide {
    width: 10%;
  }

}


@media screen and (width < 768px){
	div{
		width: 100%;
		text-align: center;
	}

	.banner-heading, .banner-para{
		width: 100%;
		height: fit-content;
		text-align: center;
	}
	.banner-heading{
		font-size: max(12px,6vmax);
		line-height: unset;
	}	
}

@media screen and (width < 576px){
	

	.navbar-brand img{
		height: auto;
		width: 220px;
	}

	.owl-carousel .item .content-container{
	  width: 90%;
	  margin: auto;
	}  
}

@media only screen and (max-width: 550px) {

  #slider-container #slider .slide {
    width: 10%;
  }

}




